body {
    background: rgb(90, 90, 173);
    font: normal 20pt Arial;
    margin: auto;
}

section {
    background: white;
    border-radius: 10px;
    margin: auto;
    width: 500px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}

header {
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

input {
    width: 50px;
}

footer {
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1.0px;
    -webkit-text-stroke-color: black;
}